html, body, figure,
figcaption, ul, li, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-align: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    background: purple;
}

h1 {
    font-size: 60px;
    margin: 160px 0 50px 0;
    color: white;
}

.hanoi {
    display: flex;
    margin: 30px auto;
    width: 600px;
}

ul {
    width: 180px;
    padding: 0 0 10px 0;
    border-bottom: 20px solid black;
    cursor: pointer;
}

ul:hover {
    border-color: blue;
}

ul.selected {
    border-color: green;
}

ul:nth-child(2) {
    margin: 0 20px;
}

li {
    width: 0px;
    margin: 10px auto;
    height: 50px;
    background: gold;
    border-radius: 15px;
}

li.disk-1 {
    width: 60px;
}

li.disk-2 {
    width: 120px;
}

li.disk-3 {
    width: 180px;
}

.game-over ul {
    cursor: default;
    border-color: gold;
}

.game-over li {
    background: green;
}